body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 0;
  background-color: rgb(205, 229, 243);
}
.temp-class{
  width: 303px;
    height: 1px;
    background: black;
    transform: rotateY(-90deg)translateX(100px);
    pointer-events: none
}
.container{
  perspective: 800px;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  position: relative;
  margin: auto;
  width: 1px;
}
.rubik{
  font-size: 16px;
  position: absolute;
  top: 100px;
  left: -50px;
  transform-style: preserve-3d;
  width: 40px;
  height: 40px;
  transform-origin: center;
  transition: transform ease-out 0.3s
}

.cubie{
  position: absolute;
  transform-origin: center;
  transform-style: preserve-3d;
  transition: transform ease-out 0.5s;
}
.cubie.cubie-selected .cubie-faces{
  box-shadow: 0 0 3px 3px #fff;
}
.cubie-inner{
  position: absolute;
  transform-origin: 20px 20px 0px;
  transform-style: preserve-3d;
}
.cubie-faces{
  position: absolute;
  text-align: center;
  line-height: 250%;
  width: 40px;
  height: 40px;
  background-color: rgba(136, 136, 136, 0.53);
  outline: 1px solid #fff;
}

#rotate_control_area{
  position: absolute;
  top: 300px;
  left: -150px;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 5px 1px #000;
  border-radius: 50%;
  z-index: 100;
}
#rotate_control_button{
  position: absolute;
  background: #d4d4d4;
  top: 30px;
  left: 30px;
  height: 40px;
  width: 40px;
  box-shadow: 0 0 6px 1px #888;
  border-radius: 50%;
  transition: all cubic-bezier(0, 0, 0.15, 0.85) 0.2s;
}
.stall{
  width: 50px;
  height: 50px;
  border: 0px solid #000;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  transition: all ease-out 0.3s;
  box-shadow: 0 0 3px 1px #888;
  border-radius: 50%;
}
.stall:nth-child(1){
  position: absolute;
  width: 2px;
  left: 50%;
  height: 100%;
  background: #000;
}
.stall:nth-child(2){
  position: absolute;
  margin: auto;
  height: 2px;
  width: 100%;
  top: 50%;
  background: #000;
}
#rotate_layer_control{
  width: 100px;
  height: 100px;
  position: relative;
  top:300px;
  left:50px;
  z-index: 100;
}
#rotate_layer_control_button{
  position: absolute;
  background: #d4d4d4;
  top: 35px;
  left: 35px;
  height: 30px;
  width: 30px;
  box-shadow: 0 0 6px 1px #888;
  border-radius: 50%;
  transition: all cubic-bezier(0, 0, 0.15, 0.85) 0.2s;
}
